h2{
    background-color: rgba(128, 128, 128, 0.466);
    height: 50px;
    margin-top:-5px;
    margin-left: -5px;
    margin-right: 0.5px;
    padding-top: 20px;
    padding-left: 15px;
}

ul {
  list-style-type: none;
  margin-top: -20px;
  overflow: hidden;
  background-color:black;
  padding:10px;
  padding-left:1px;
  margin-left: -5px;
  
}

  li {
    float: left;
  }
  
  li a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    border-right: 2px solid white;
  }
  
  li a:hover {
    background-color:green;
  }
  #body{
    display: flex;
    justify-content: space-evenly;
  }
  #body1{
    margin-top:-27px;
    margin-left: -10px;
    margin-right: -5px;
    padding:30px;
    
  }
  #body2{
    background-color:rgba(128, 128, 128, 0.082); 
    padding:20px;
    margin-top: -17px;
    margin-right:2px;
  }
  #footer{
    display:flex;
    justify-content: flex-end;
    background-color: rgba(51, 51, 51, 0.178);
  }
  